
.icon1 {
    font-size: 80px;
    margin: auto;
}

.card:hover {
    background-color: #23A6F0 !important;
    transition: .7s;

}

.cardon:hover .icon1 {
    color: white;
    transition: .5s;

}
.cardon p, .get, .icon1 {
    color: #23A6F0;
    transition: .5s;
}

.cardon:hover p{
    color: rgb(227, 228, 231) !important;
    transition: .5s;
}

.get:hover {
    color: white !important;
}

.cardon {
    max-width: 500px;
    margin: auto;
}

.cardon:hover {
    background-color: #23A6F0 !important;
    transition: .5s;
}